:host {
  display: block;
  --card-background: var(--card);
  --card-border-color: var(--border);
  --card-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  --card-height: auto;
}

.card {
  background: var(--card-background);
  color: var(--card-foreground);
  border: 1px solid var(--card-border-color);
  border-radius: 0.75rem;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: var(--card-height);
  box-shadow: var(--card-shadow);
}
