.field {
  display: flex;
  gap: 0.75rem;
}

.field.vertical {
  flex-direction: column;
}

.field.horizontal {
  flex-direction: row;
  align-items: center;
}

.field.responsive {
  flex-direction: column;
}

@media (min-width: 768px) {
  .field.responsive {
    flex-direction: row;
    align-items: center;
  }
}
